data/*

# Make files etc
build

# MacOS
.DS_Store

# Doxygen
doc/html/*.png
doc/html/*.svg
*.html
*.tex
*.js

# Directory with perft results files
perft/

# Directory storing PGNs/FENs of computer games and master games
games/